node_modules
dist
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
nginx.conf
*.md
.env
.env.local
.env.production
.env.development
.eslintcache
.DS_Store
Dockerfile
docker-compose.*
nginx.conf